.site-header {
    padding: 0 24px;
}
.site-header h1 {
    display: inline-block;
    margin-top: 0px;
}

#arrow-right {
    fill: #81B449;
    opacity: 1;
    display: inline-block;
    margin-bottom: 2px;
    margin-right: -4px;
    margin-left: -27px;
}


.container {
    padding: 40px 8px;
    max-width: 600px;
    margin: 0 auto;
}

.content {
    max-width: 600px;
    padding: 0 24px;
}


.titles {
    margin-bottom: 60px;
    padding: 0 24px;
}

.square {
    width: 9px;
    height: 9px;
    background: #81B449;
    opacity: .8;
}

.beginning .square {
    position: absolute;
    margin-left: -20px;
    margin-top: -6px;
}

h1 {
    font-size: 40px;
    margin-bottom: 1rem;
}

h3 {
    font-weight: 500;
    font-size: 28px;
}

p {
    line-height: 26px;
    font-size: 18px;
}

.ending p {
    margin-bottom: 0;
}

.container > .square {
    margin-left: 86px;
}

@media only screen and (min-width: 345px) {
    .container > .square {
        margin-left: 315px;
    }
}

@media only screen and (min-width: 378px) {
    .container > .square {
        margin-left: 210px;
    }
}

@media only screen and (min-width: 415px) {
    .container > .square {
        margin-left: 175px;
    }
}

@media only screen and (min-width: 502px) {
    .container > .square {
        margin-left: 86px;
    }
}

@media only screen and (min-width: 561px) {
    .container > .square {
        margin-left: 530px;
    }
}

@media only screen and (min-width: 768px) {
    #arrow-right {
        margin-bottom: 6px;
    }

    h1 {
        font-size: 60px;
    }

    h3 {
        font-size: 35px;
    }
}
