main > section {
    display: grid;
    grid-template-columns: 33% 1fr;
    gap: 3rem;
    padding: 0 var(--page-margin) 8rem;
}
main > section .text-column li {
    margin-bottom: 0.5rem;
}
main > section .text-column .cta {
    margin-top: 1rem;
}

main > section .image-column img {
    margin-bottom: 2rem;
}
main > section .image-column .eleventy-plugin-vimeo-embed {
    padding-top: 65% !important;
}
main > section .outline {
/*    border: 1px solid var(--img-outline);*/
    box-shadow: var(--img-box-shadow);
}

@media only screen and (max-width: 768px) {
    main > section {
        grid-template-columns: 1fr;
    }
}
