main {
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
}

h2, h4 {
  margin-top: 1.5rem;
}

.center {
  max-width: 680px;
}

.center ul li {
  margin-bottom: 0.5rem;
}


@page { size: auto;  margin: 0mm; }

@media print {
  :root {
    --font-size-md: 10pt;
  }
}