main {
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 2rem;
  max-width: 1120px;
}

h2, h4 {
  margin-top: 1.5rem;
}

.top {
  grid-column: 1 / -1;
}

.center {
  max-width: 680px;
}

.center ul li {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
}


@page { size: auto;  margin: 0mm; }

@media print {
  :root {
    --font-size-md: 10pt;
  }
}