:root {
    --page-margin: 3rem;

    --font-size-xl: 2.5rem;
    --font-size-md: 1.125rem;
    --font-size-sm: 0.9375rem;

    --white: #ffffff;
    --gray700: #111111;
    --gray600: #333333;
    --gray500: #5a5a5a;
    --gray400: #6f6f6f;
    --gray300: #aaaaaa;
    --gray200: #e6e6e6;
    --gray100: #f8f8f8;

    --green600: #5c8135;
    --green500: #7c9a5b;

    /* light */
    --brand-color: var(--green500);
    --brand-color-text: var(--green600);
    --primary-text-color: var(--gray700);
    --secondary-text-color: var(--gray400);
    --page-background-color: var(--white);

    --img-outline: var(--gray200);
    --img-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-md);
    color: var(--primary-text-color);
    background-color: var(--page-background-color);
}

h1 {
    font-family: "Chivo Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: var(--font-size-xl);
}
h2 {
    font-weight: 600;
}

a {
    color: var(--brand-color-text);
}

a:hover {
    text-decoration: none;
}

p {
    margin: 1em 0;
}

img {
    height: auto;
}

figcaption {
    color: var(--secondary-text-color);
    font-size: var(--font-size-sm);
    margin-top: 0.5rem;
    text-align: center;
}

.cta {
    display: inline-block;
    padding: 1rem;
    background: var(--brand-color);
    color: white;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

header nav li {
    padding: 1rem;
}

header nav li.active {
    font-weight: bold;
}

.mobile {
    display: none;
}
.desktop {
    display: block;
}

@media only screen and (max-width: 768px) {
    :root {
        --page-margin: 1rem;
    }
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-text-color: var(--gray200);
        --secondary-text-color: var(--gray300);
        --brand-color: var(--green500);
        --brand-color-text: var(--green500);
        --page-background-color: var(--gray700);
    }
}