---
layout: layout-2023.liquid
pageName: "projects"
---
{% css %}{% include "css/projects.css" %}{% endcss %}
<main>
    <section>
        {% for project in collections.projectsByPriority %}
            <div>
                <h2><a href="{{ project.url }}">{{ project.data.title }}</a></h2>

                {% if project.data.thumb %}
                    {% imagepaired "Thumbnail image", "20vw", "outline" %}
                        {
                            "thumb": "{{project.data.thumb}}",
                            "imgPath": "{{project.imgPath}}"
                        }
                    {% endimagepaired %}
                {% endif %}
            </div>
        {% endfor %}
    </section>
</main>
