---
layout: layout.liquid
---
{% js %}{% include "js/dots-n-dashes.js" %}{% endjs %}
{% css %}{% include "css/dots-n-dashes.css" %}{% endcss %}

<div class="container">
    <!-- <canvas id="tutorial" width="2000" height="2000"></canvas> -->
    <div class="game-board">
        {% for i in (0..9) %}
            {% for j in (0..9) %}
                <div data-row="{{i}}" data-col="{{j}}"></div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
