---
layout: layout.liquid
---
{% js %}{% include "js/dots-n-dashes.js" %}{% endjs %}
{% css %}{% include "css/dots-n-dashes.css" %}{% endcss %}

<div class="container">
    <!-- <canvas id="tutorial" width="2000" height="2000"></canvas> -->
    <div id="score-board">
        Player 1: <span class="player0">0</span><br>
        Player 2: <span class="player1">0</span>
        <div class="whose-turn">
            <span class="player0">Player 1's turn</span>
            <span class="player1" aria-hidden="true">Player 2's turn</span>
        </div>
    </div>
    <div id="game-board">
        {% for i in (0..9) %}
            {% for j in (0..9) %}
                <div class="quadrant" data-row="{{i}}" data-col="{{j}}">
                    <div class="line left"></div>
                    <div class="line top"></div>
                    {% if i == 9 %}
                        <div class="line bottom"></div>
                    {% endif %}
                    {% if j == 9 %}
                        <div class="line right"></div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
