---
layout: layout.liquid
permalink: /
---
{% css %}{% include "css/home.css" %}{% endcss %}

<div class="container">
    <div class="site-header">
        <img id="arrow-right" class="svg" src="img/arrow-right.svg">
        <h1>Jackson Clawson</h1>
    </div>

    <div class="titles">
        <h3>Software development</h3>
        <h3>Music</h3>
    </div>
    <div class="content">
        <div class="beginning">
            <div class="square"></div>
            <p>
                I’m a lead full-stack developer based in San Francisco and I work at <a href="https://bandcamp.com/">Bandcamp</a>.
            </p>

        </div>

        <div class="ending">
            <p>
                I am also a funk/soul/folk
                <a href="https://www.youtube.com/channel/UCX0Lz4UUoZEkNp4cVyaGOYA">keyboardist</a>.
            </p>
        </div>
    </div>
    <div class="square"></div>

</div>