---
layout: layout.liquid
---
{% css %}{% include "css/resume.css" %}{% endcss %}
<main>
  <div class="center">
    <h1>Jackson Clawson</h1>
    Senior Software Engineer

    <section>
      <h2>About me</h2>
      <p>
        * Care deeply, code as craft
        it's essential to care deeply about the product i'm making, to love the details, to know all its quirks, to prioritize its longevity. especially in the age of AI, this is a core principle of mine
      </p>
    </section>

    <section>
      <h2>Work experience</h2>
      <div>
        <h3>Bandcamp</h3>
        <span>May 2017 — Present</span>
        <p>
          I am a Senior Engineering Lead at Bandcamp, where I lead the development of buyer-facing marketplace features. I am a core contributor to Bandcamp’s design system and accessibility working groups. My work focuses on building a resilient, accessible, and performant web platform that supports artists and fans in sharing and discovering music. Below are some of the key projects I have led.
        </p>
          <h4>Bandcamp Homepage Redesign (2025)</h4>
          <ul>
            <li>Increased conversion by X</li>
            <li>Improved time-to-interactive by X</li>
            <li>Improved accessibility score by X</li>
            <li>Frontend & backend migration from legacy monolith to microservices + Vue/TS</li>
            <li>Worked closely with design and product with creative problem solving and scoping to identify optimal new UX in tight timeline</li>
            <li>Introduced major new components and capabilities into our young design system</li>
            <li>Coordinated internal accessibility remediation and testing</li>
          </ul>

          <h4>Track-and-Album Page Redesign (2023, mobile web)</h4>
          <p>
            The Track-and-Album Page is Bandcamp’s most critical product page and the heart of the business. It’s the only place where albums, tracks, and most merch can be purchased on the web. It’s the highest-traffic page on the site and the first stop for most users.
          </p>
          <ul>
            <li>
              Migrated the page to microservices infrastructure, unlocking A/B testing, faster deployment, and dramatic performance gains
            </li>
            <li>
              Co-designed the new interface alongside product and design; prioritized improved merchandising, modernization, clarity, accessibility (I used to be a designer+dev!)
            </li>
            <li>
              Increased conversion by X%, improved accessibility by Y%, improved page speed by Z%
            </li>
            <li>
              Tackled extreme complexity: nearly 100 permutations to support artist customization, pricing, downloads, subscriber-only content, bundles, and more, all without prior automated test coverage
            </li>
            <li>
              Championed accessibility across engineering, product, and design, establishing a new org-wide baseline
            </li>
          </ul>

          <h4>Bandcamp Daily Redesign (2019)</h4>
            <p>
              Bandcamp Daily is the editorial voice of Bandcamp. It’s a home for music discovery, curation, and longform writing, written by real humans.
            </p>
          <ul>
            <li>
              Led the engineering effort to redesign and rebuild Bandcamp’s editorial publication from a Wordpress-hosted blog into a fully integrated, responsive, and browsable media experience
            </li>
            <li>
              Selected and integrated a headless CMS; engineered a custom ingestion pipeline to store and normalize articles (~3,500) into Bandcamp’s infrastructure for performance and site-wide integration of editorial content
            </li>
            <li>
              Built custom frontend with a better listening + reading experience, including inline players, wishlisting and following, and deep merch integration
            </li>
            <li>
              Collaborated with editorial staff to shape workflows and onboard them to new tooling
            </li>
            <li>
              Greatly improved article discovery by exposing ability to browse by franchise, author, and genre
            </li>
            <li>
              Delivered a professional, Bandcamp-branded publication experience that increased engagement and aligned with the rest of the platform
            </li>
          </ul>

          {% comment %} <h4>GDPR compliance (2024)</h4> {% endcomment %}
        </ul>
      </div>
      
    </section>

    <section>
      <h2>Education</h2>
      <h3>B.S. Computer Science, B.S. Human Factors Engineering from Tufts University</h3>
      <span>September 2013 — May 2017</span>
    </section>

  </div>
  <div class="sidebar">
    <section>
      <h2>Details</h2>
      <p>
        <a href="mailto:inbox@jacksonclawson.com">inbox@jacksonclawson.com</a><br>
        <a href="https://github.com/jacksonbandcamp" target="_blank">github.com/jacksonbandcamp</a>
      </p>
    </section>
    <section>
      <h2>Passions & Principles</h2>
      <ul>
        <li>Code as craft</li>
        <li>Measure twice, cut once</li>
        <li>Semantic & resilient UI</li>
        <li>Embracing the web platform</li>
        <li>Design systems</li>
        <li>Accessibility</li>
        <li>Automated testing</li>
      </ul>
    </section>
    <section>
      <h2>Technical Experience</h2>
      <ul>
        <li>Estimation and scoping</li>
        <li>Opportunity/risk assessment</li>
        <li>Cross-functional collaboration</li>
        <li>Refactoring</li>
        <li>SEO</li>
        <li>Page performance</li>
        <li>REST, OOP, MVC, component-based</li>
        <li>Localization</li>
      </ul>
    </section>
    <section>
      <h2>Technologies</h2>
      <ul>
        <li>CSS</li>
        <li>HTML</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Vue.js</li>
        <li>Jest/Vitest</li>
        <li>Ruby</li>
        <li>Minitest</li>
        <li>MySQL</li>
      </ul>
    </section>
    <section>
      <h2>Other interests</h2>
      <ul>
        <li>Keyboard/synth/organ</li>
        <li>Music production</li>
      </ul>
    </section>
  </div>
</main>