---
layout: layout.liquid
---
{% js %}{% include "js/canvas.js" %}{% endjs %}
{% css %}{% include "css/canvas.css" %}{% endcss %}

<div class="container">
    <canvas id="tutorial" width="2000" height="2000"></canvas>
</div>
