---
title: "Bandcamp Daily"
priority: 1
thumb: "bandcamp-navigator-list-square.jpg"
---
<style>
    .older-posts {
        margin: 0 auto;
        margin-top: 4rem;
        max-width: 25rem;
    }
    .older-posts div {
        max-height: 6.5rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main > section .image-column .older-posts img {
        margin: 0;
    }
</style>
<section>
    <div class="text-column">
        <p>
            The Bandcamp Daily is the editorial publication arm of Bandcamp that spotlights the best, most interesting, and strangest music on the platform from across the globe. It’s a treasure trove of wonderful writing and careful curation. The humans that run it are brave and gifted explorers of the Bandcamp-verse. Yes, that’s right — music curation by real humans :)
        </p>
        <p>
            I was the lead engineer on the team for the redesign effort. I built the site using a third-party headless CMS to power a frontend built within the Bandcamp ecosystem. The redesign accomplished the following:
            <ul>
                <li>Ability to wishlist</li>
                <li>Ability to follow artist</li>
                <li>Improved player experience, displaying artist’s merch</li>
                <li>Improved reading experience: listen while reading</li>
                <li>Customized look and feel, made it feel like Bandcamp, moved from dated blog template to professional publication</li>
                <li>Expose many more opportunities for exploring more articles: view-all menu, franchises, pagination, contributors, genres</li>
            </ul>
        </p>
        <p>
            This was a gratifying project for me. We took the existing archive of Bandcamp Daily articles, gave them a new look and feel, and made them far easier to engage with and more browsable. It was invigorating to take the wonderful body of work and make it sing.
        </p>
        <p><a href="https://daily.bandcamp.com" class="cta">view site</a></p>
    </div>
    <div class="image-column">
        {% image "./bandcamp-navigator-list-square.jpg", "Screenshot of an article on the Bandcamp Daily called 'Bandcamp Navigator, September 2023'", "100vw", "outline" %}
        {% image "./player.jpg", "", "100vw", "outline" %}
        {% image "./player-mobile.jpeg", "", "100vw", "outline" %}
        <figure class="older-posts">
          <div class="outline">
              {% image "./older-posts.gif", "", "100vw" %}
          </div>
          <figcaption>a fun hover effect :)</figcaption>
        </figure>
    </div>
</section>
