<!doctype html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="/img/favicon.png"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% capture page_title %}
            {% if title %}
                {{ title }}
            {% else %}
                Jackson Clawson
            {% endif %}
        {% endcapture %}
        <title>{{page_title}}</title>
        <meta name="author" content="Jackson Clawson">
        <meta name="keywords" content="Portfolio, Software Development, Web Developer, Software Engineer, Musician, Jackson Clawson">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Rubik:400,500" rel="stylesheet">
        {% basecss %}{% include "css/_reset.css" %}{% endbasecss %}
        {% basecss %}{% include "css/site.css" %}{% endbasecss %}
        <link rel="stylesheet" href="{% getBundleFileUrl "basecss" %}">
        <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YPPCGYB02K"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YPPCGYB02K');
        </script>
    </head>
    <body>
        <header>
            {% include "_includes/navbar.liquid" %}
        </header>
        {{ content }}
        <script src="{% getBundleFileUrl "js" %}"></script>
    </body>
</html>
