<!doctype html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="/img/favicon.png"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% capture page_title %}
            {% if title %}
                {{ title }}
            {% else %}
                Jackson Clawson
            {% endif %}
        {% endcapture %}
        <title>{{page_title}}</title>
        <meta name="author" content="Jackson Clawson">
        <meta name="keywords" content="Software Development, Web Developer, Software Engineer, Musician, Jackson Clawson">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=block" rel="stylesheet">
        {% css "base" %}{% include "css/_reset.css" %}{% endcss %}
        {% css "base" %}{% include "css/site.css" %}{% endcss %}
        <link rel="stylesheet" href="{% getBundleFileUrl "css", "base" %}">
        <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YPPCGYB02K"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YPPCGYB02K');
        </script>
    </head>
    <body>
        {{ content }}
        <script src="{% getBundleFileUrl "js" %}"></script>
    </body>
</html>
