<!doctype html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="/img/favicon.png"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Jackson Clawson</title>
        <meta name="author" content="Jackson Clawson">
        <meta name="keywords" content="Portfolio, Designer, Design, Interaction Designer, Software Development, Web Developer, Musician, Jackson Clawson">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Rubik:400,500" rel="stylesheet">
        {% css "base" %}{% include "css/_reset.css" %}{% endcss %}
        {% css "base" %}{% include "css/site.css" %}{% endcss %}
        <link rel="stylesheet" href="{% getBundleFileUrl "css", "base" %}">
        <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YPPCGYB02K"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YPPCGYB02K');
        </script>
    </head>
    <body>
        {{ content }}
        <script src="{% getBundleFileUrl "js" %}"></script>
    </body>
</html>
