<nav>
    <ul>
        <li {% if pageName == "home"%}    class="active"{% endif %}><a href="/">Jackson Clawson</a></li>
        <li {% if pageName == "projects"%}class="active"{% endif %}><a href="/projects">Projects</a></li>
    </ul>
</nav>
