---
layout: layout.liquid
---
{% css %}{% include "css/project.css" %}{% endcss %}

<header>
    <nav>
        <ul>
            <li><a href="/">Jackson Clawson</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>{{ title }}</h1>
    {{ content }}
</main>
