---
title: "Is It Bandcamp Friday?"
priority: 1
thumb: "waiting-state-square.jpg"
---
<section>
    <div class="text-column">
        <p>
            In March 2020, when the world entered lockdown, Bandcamp began waiving its revenue share on the first Friday of the month to help support artists on Bandcamp. These days, which came to be called “Bandcamp Fridays”, saw a huge outpouring of support from the Bandcamp community — on the first Bandcamp Friday, fans spent 15x the amount of music and merch ($4.3 million) compared to a normal Friday. The money from these days went directly into artist’s pockets to help them recoup lost touring income and cover all manner of personal expenses. 
        </p>
        <p>
            After the first couple of Bandcamp Fridays, it became clear that fans were confused about what time the program actually started and ended. A designer and I built this mini-site to demystify the timezone confusion and show a countdown, and have some fun with it at the same time :)
        </p>
        <p><a href="https://isitbandcampfriday.com/" class="cta">view site</a></p>
    </div>
    <div class="image-column">
        <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/888147328?badge=0&amp;autopause=0&amp;quality_selector=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="2022-04-30 waiting state"></iframe></div>
        <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/888147745?badge=0&amp;autopause=0&amp;quality_selector=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="2022-04-30 active state"></iframe></div>
        <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
</section>
