---
title: "Mobile Web Track and Album Page"
priority: 2
thumb: "mweb-track-album-page-thumb.jpg"
---

<section>
    <div class="text-column">
        <p>
        </p>
        <div class="contributors">
            <p>Contributors</p>
            <p>
                Engineer: Jackson Clawson<br>
            </p>
        </div>
        <p><a href="https://thundercat.bandcamp.com/" class="cta">view an album on Bandcamp</a></p>

    </div>
    <div class="image-column">
    </div>
</section>

